
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments :: head"></head>

<body class="container-fluid page-container">

<nav th:replace="fragments :: nav"></nav>

<div class = "container content-wrap">

    <h1 th:text="${title}"></h1>

    <nav>
        <a href="/admin">Admin Home/Add Amenity to Park</a> |
        <a href="/admin/add-park">Add New Park</a> |
        <a href="/admin/delete-park">Delete Park</a> |
        <a href="/admin/delete-amenity">Delete Amenity</a> |
        <a href="/admin/delete-user">Delete User</a> |
        <a href="/admin/admin-logout">Admin Log Out</a>
    </nav>



    <form method="post" style="max-width:600px;" th:object="${amenity}">

        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="*{name}" />
            <span th:errors="*{name}" class="error"></span>
        </div>

        <input type="submit" value="Add Amenity" />

    </form>




</div>
<br />
<footer th:replace="fragments :: footer"></footer>
</body>
</html>