<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid">

<nav th:replace="fragments :: nav"></nav>

<div class = "container">
    <h1 th:text="${title}"></h1>

    <nav>
        <a href="/admin">Admin Home/Add Amenity to Park</a> |
        <a href="/admin/add-park">Add New Park</a> |
        <a href="/admin/delete-park">Delete Park</a> |
        <a href="/admin/add-amenity">Add New Amenity</a> |
        <a href="/admin/delete-amenity">Delete Amenity</a> |
        <a href="/admin/delete-user">Delete User</a> |
        <a href="/admin/admin-logout">Admin Log Out</a>
    </nav>



    <br />

    <form method="post">

        <div th:each="user: ${user}" class="checkbox">
            <input type="checkbox" name="userIds" th:value="${user.id}" th:id="${user.id}"/>
            <label th:for="${user.id}" th:text="${user.userName}"></label>
            <br />
        </div>

        <input type="submit" value="Delete User" />
    </form>
</div>
</body>
</html>