<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid page-container">

<nav th:replace="fragments :: nav"></nav>

<div class = "container content-wrap">
    <br/>
    <h1 th:text="${title}"></h1>

    <nav>
        <a href="/admin">Admin Home/Add Amenity to Park</a> |
        <a href="/admin/add-park">Add New Park</a> |
        <a href="/admin/delete-park">Delete Park</a> |
        <a href="/admin/add-amenity">Add New Amenity</a> |
        <a href="/admin/delete-amenity">Delete Amenity</a> |
        <a href="/admin/delete-user">Delete User</a> |
        <a href="/admin/admin-logout">Admin Log Out</a>
    </nav>



    <br />

    <form method="post">

        <div th:each="park: ${parks}" class="checkbox">
            <input type="checkbox" name="parkIds" th:value="${park.id}" th:id="${park.id}"/>
            <label th:for="${park.id}" th:text="${park.name}"></label>
            <br />
        </div>
        <br/>

        <input type="submit" class="btn btn-primary" value="Delete Park" />
    </form>

</div>
<br />
<footer th:replace="fragments :: footer"></footer>
</body>
</html>