<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid page-container">

<nav th:replace="fragments :: nav"></nav>



<div class = "container content-wrap">
    <h1 th:text="${title}"></h1>

    <nav>
        <a href="/admin/add-park">Add New Park</a> |
        <a href="/admin/delete-park">Delete Park</a> |
        <a href="/admin/add-amenity">Add New Amenity</a> |
        <a href="/admin/delete-amenity">Delete Amenity</a> |
        <a href="/admin/delete-user">Delete User</a> |
        <a href="/admin/admin-logout">Admin Log Out</a>
    </nav>



    <br />
    <h2>Welcome to Admin Home!</h2>

    <h4>Parks List</h4>

    <ul>
        <li th:each="park : ${parks}">
            <a th:href="'admin/view/'+ ${park.id}" th:text="${park.name}"></a>
        </li>
    </ul>



</div>
<br />
<footer th:replace="fragments :: footer"></footer>
</body>
</html>