<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container" th:object="${park}">



<nav>
    <a href="/admin">Admin Home</a> |
    <a href="/admin/add-park">Add New Park</a> |
    <a href="/admin/delete-park">Delete Park</a> |
    <a href="/admin/add-amenity">Add New Amenity</a> |
    <a href="/admin/delete-amenity">Delete Amenity</a>
</nav>



<br />

<h1 th:text="${title}"></h1>

<br />

<p><a th:href="'/admin/add-park-amenities/' + ${park.id}">Add Amenities for This Park</a></p>

<div>

    <p>

        <strong>Name: </strong><span th:text="${park.name}"> </span><br />
        <strong>Neighborhood: </strong><span th:text="${park.neighborhood}"></span><br />
        <strong>Street Address: </strong><span th:text="${park.streetAddress}"></span><br />
        <strong>City: </strong><span th:text="${park.city}" ></span><br />
        <strong>Zip: </strong><span th:text="${park.zip}"></span><br />
        <strong>Website: </strong><span ><a th:href="${park.website}" th:target="_blank">Visit Website</a></span><br />

    </p>

    <p><strong>Amenities</strong></p>
    <ul th:each="amenity : ${park.amenities}">
        <li th:text = "${amenity.name}"></li>
    </ul>

</div>



</body>
</html>