<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid">

<nav th:replace="fragments :: nav"></nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">


        <img class="photo" src="../static/images/lafayette.jpg"
             th:src="@{images/lafayette.jpg}"/>


        <div>
            <img class="logo" src="../static/images/logo.png"
                 th:src="@{images/logo.png}"/>
        </div>

        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<div th:replace="fragments :: admin-login"></div>

<div class = "container">

    <h1 th:text="${title}"></h1>

    <nav>
        <a href="/admin">Admin Home</a> |
        <a href="/admin/add-park">Add New Park</a> |
        <a href="/admin/delete-park">Delete Park</a> |
        <a href="/admin/add-amenity">Add New Amenity</a> |
        <a href="/admin/delete-amenity">Delete Amenity</a>
    </nav>

    <span class="errors" th:text="${loginError}"></span>


    <br />
    <h2>Welcome to Home!</h2>



</div>
</body>
</html>