<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments :: head"></head>

<body class="container-fluid page-container">

<nav th:replace="fragments :: nav"></nav>

<div th:replace="fragments :: admin-login"></div>

<div class = "container content-wrap">
    <br/>

    <h1 th:text="${title}"></h1>



    <form method="post" style="max-width:600px;" >



        <div class="form-group">
            <label th:for="userName">Username</label>
            <input class="form-control" name="userName" />
            <span class="errors" th:text="${userNameError}" />
        </div>

        <div class="form-group">
            <label th:for="password">Password</label>
            <input type="password" class="form-control" name="password" />
            <span class="errors" th:text="${passwordError}" />
        </div>

        <div class="form-group">
            <label th:for="verifyPassword">Verify Password</label>
            <input type="password" class="form-control" name="verifyPassword" />
            <span class="errors" th:text="${verifyPasswordError}" />
        </div>





        <input type="submit" class="btn btn-primary" value="Register" />

    </form>


</div>
<br />
<footer th:replace="fragments :: footer"></footer>

</body>
</html>