<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments :: head"></head>

<body class="container-fluid">

<nav th:replace="fragments :: nav"></nav>

<div th:replace="fragments :: admin-login"></div>

<div class = "container">

    <h1 th:text="${title}"></h1>

    <a href="/user/delete-park">Back to My Profil</a>



</div>




<h3>My Parks</h3>

    <p th:unless="${user.parks} and ${user.parks.size()}">No Saved Parks</p>

    <form method="post" th:object="${user}" >

        <div th:each="park : ${user.parks}" class="checkbox">

            <input type="checkbox" name="parkIds" th:value="${park.id}" th:id="${park.id}"/>
            <a th:href="'/view/' + ${park.id}" th:text="${park.name}"></a><br />
            <p><strong>Neighborhood: </strong><span th:text="${park.neighborhood}"></span><br />
                <span ><a th:href="${park.website}" th:target="_blank">Visit Website</a></span></p><br />

        </div>

        <input type="hidden" th:value="*{id}" name="userId" />
        <input type="submit" value="Remove Park(s)" />

    </form>



</div>




</body>
</html>