<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments :: head"></head>

<body class="container-fluid">

<nav th:replace="fragments :: nav"></nav>

<div th:replace="fragments :: admin-login"></div>

<div class = "container">

    <h1 th:text="${title}"></h1>

    <h3 th:text = "'Welcome ' + ${user.userName} + '!'"></h3>

    <p th:text = "'Member since ' + ${user.joinDate}"></p>

</div>




<h3>My Parks</h3>

<div   th:object="${form}">

<form method="POST" style="max-width:600px;">
    <div class="form-group">
        <label th:for="parkId">Add Park to My Page</label>
        <select th:field="*{parkId}">
            <option th:each="park : *{parks}"
                    th:text="${park.name}"
                    th:value="${park.id}"></option>
        </select>
    </div>

    <input type="hidden" th:value="*{user.id}" name="userId" />
    <input type="submit" value="Save Park"/>

</form>
<!--
<div th:for="${park : parks}">

    <p>

        <strong>Name: </strong><span><a th:href="'/view/' + ${park.id}" th:text="${park.name}"></a></span><br />
        <strong>Neighborhood: </strong><span th:text="${park.neighborhood}"></span><br />
        <strong>Street Address: </strong><span th:text="${park.streetAddress}"></span><br />
        <strong>City: </strong><span th:text="${park.city}" ></span><br />
        <strong>Zip: </strong><span th:text="${park.zip}"></span><br />
        <strong>Website: </strong><span ><a th:href="${park.website}" th:target="_blank">Visit Website</a></span><br />

    </p>

    <p><strong>Amenities</strong></p>
    <ul th:each="amenity : ${park.amenities}">
        <li th:text = "${amenity.name}"></li>
    </ul>
    </div>
    -->



</div>
</body>
</html>