td, th {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

table.park-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

table.park-listing td:first-child {
    font-weight: bold;
}

table.park-listing td:last-child {
    width: 80%;
}